<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtgnxj35dBHyVhEQEMRQ0fdIhFXaAy6Tw</string>
	<key>GCM_SENDER_ID</key>
	<string>797555173413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jesse-Luke.Assignmate2-1</string>
	<key>PROJECT_ID</key>
	<string>assignmate2</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmate2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797555173413:ios:9e7136fe95eb43076db7cc</string>
</dict>
</plist>